.pd-30 {
  padding: 30px;
}

.pd-30-40 {
  padding: 30px 70px;
}

.pd-20-40 {
  padding: 20px 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
